.think_type {  font-size: 15px; color: #FF9900}
a:link {  color: #FFFFFF; text-decoration: none}
a:hover {  font-weight: bolder; color: #FFFFFF; text-decoration: none}
a:visited {  color: #FFFFFF; text-decoration: none}
