{{ define "main" }}
<main class="main-content">
  <article class="content-section">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul class="post-list">
      {{ range .Pages.ByDate.Reverse }}
      <li class="post-item">
        <span class="date">{{ with .Params.dateText }}{{ . }}{{ else }}{{ .Date.Format "2006/01/02" }}{{ end }}</span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Params.source }}<span class="source">{{ . }}</span>{{ end }}
        {{ with .Summary }}<p class="post-summary">{{ . | plainify | truncate 90 }}</p>{{ end }}
      </li>
      {{ end }}
    </ul>
  </article>
</main>
{{ end }}
